html {
	background: url("img/b.bmp");
	font-family: arial;
}
#m {
	background-color: white;
	border-width: 1px;
	border-style: dotted;
	margin-left: 200px;
	margin-right: 200px;
}
#me {
	border-bottom-width: 1px;
	border-bottom-color: grey;
	border-bottom-style: dotted;
}